# Python 缓存与虚拟环境
__pycache__/
*.py[cod]
.venv/
.env

# C++ / pybind11 编译产物
*.o
*.so
*.dll
*.exe
build/

# MATLAB 临时文件与二进制文件
*.asv
*.mexa64
*.mexw64
*.mat

# 操作系统生成的隐藏文件
.DS_Store
Thumbs.db
# 忽略真实数据文件
data/
*.csv
*.dat
*.txt
